/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit; /*bu meros olishi psevdo elem.larda*/
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;               /*sticky footer qilish uchun*/
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}